*.tlog
*.idb
*.pdb
*.lastbuildstate
*.obj
*.log
*.ilk
*.recipe
*.sqlite
*.json
*.vsidx
*.ipch
*\.vs
*.ilk
hw1p2/hw1p2/x64/Debug/463-sample.log
hw1p2/hw1p2/x64/Debug/463-sample.log
*.pdb
*.db-shm
*.vsidx
*.vsidx
*.txt
hw2/x64/Release/output.txt
*.exe
hw3p1/hw3p1/x64/Debug/hw3p1.obj.enc
